<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Gen</title>
</head>

<body>
    <h1>
        <%= asingTxt %>
    </h1>
    <p>
        <%= r %>
            <%= rn %>
                <%if (rn %2===0 ){%>
                    <h2>This is an EVEN Number </h2>

                    <%} else{%>
                        <h2>This is an ODD Number </h2>
                        <%}%>
    </p>
</body>

</html>