<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-transparent sticky-top">
        <a href="/iota" class="navbar-brand">
            <img id='logo'
                width="30" height="30" class="rounded" alt="icon">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/iota">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/iota/ota/">FOTA</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/iota/iot/">IOT</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/iota/contact">Contact Us</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/iota/help">Help</a>
                </li>
            </ul>
        </div>
    </nav>