<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/navbarStyles.css">
    <title>IOTA sign in</title>
</head>

<body>
    <%- include('navbar'); %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="container row">
            <div class="container d-flex justify-content-center text-center align-items-center col-md-12 col-lg-3 p-3">
                <h1 class="display-4">IOTA -Sign In-</h1>
            </div>

            <div class="container bg-light border border-info rounded shadow-lg p-4 col-md-12 col-lg-9">
                <div class="container col-sm-12 col-10">
                    <form action="">
                        <div class="row">
                            <div class="form-group col-sm-12 col-lg-6">
                                <div class="row">
                                    <div class="p-0 text-center col-sm-12 col-md-3">
                                        <label for="f-name">First Name</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" id="f-name" placeholder="First Name"
                                            required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-12  col-lg-6">
                                <div class="row ">
                                    <div class="p-0 text-center col-sm-12 col-md-3">
                                        <label for="l-name">Last Name</label>
                                    </div>
                                    <div class="col ">
                                        <input type="text" class="form-control" id="l-name" placeholder="Last Name"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12  col-lg-12">
                                <div class="row ">
                                    <div class="text-center col-sm-12 col-md-3">
                                        <label for="phone">Phone</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" id="phone"
                                            placeholder="(+1) xxx-xxxx-xxx" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 col-md-8">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>

                            <div class="form-group col-sm-12 col-md-4">
                                <label for="z-code">Zip code</label>
                                <input type="text" class="form-control" id="z-code" placeholder="Zip Code">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                    required>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label for="re-password">Re-Type Password</label>
                                <input type="password" class="form-control" id="re-password" placeholder="Password"
                                    required>
                            </div>
                        </div>

                        <div class="container d-flex d-flex col-5">
                            <button type="submit" class="btn btn-primary w-100 ">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <main>

    </main>
    <%- include('footer'); %>
    <script src="../js/navBarEvents.js"></script>
</body>

</html>