<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Lorem ipsum <%= 'Any thing like string and use JS string functions' .toUpperCase() %>dolor sit amet consectetur
            adipisicing elit. Voluptatum corporis optio at quis quo, voluptate doloremque iusto assumenda consectetur
            sunt hic nobis fugit, necessitatibus quasi perspiciatis eaque nemo explicabo rem!
            Incidunt, unde! Voluptatum rerum magnam ullam possimus dicta laborum tempora eum doloremque, reiciendis,
            perspiciatis, deserunt quisquam. Facere, libero sequi non cum praesentium dolor! Ipsa voluptates architecto
            provident maiores, quaerat modi.
            Aliquam voluptatibus, repudiandae voluptatum aperiam eaque amet sint? Illo praesentium, nam dolorum odio
            doloremque beatae distinctio tempore repudiandae voluptatem sequi placeat dicta illum ut aliquam amet
            consectetur similique possimus nisi.
            At nam, quisquam magnam placeat inventore eveniet, dolor totam molestias quos accusantium quaerat eaque
            debitis, mollitia perferendis ea odio cumque vitae recusandae natus repellendus facilis. Doloribus beatae
            omnis laudantium perspiciatis.
            Nulla, perspiciatis ullam vero dolorum illo nesciunt. Iure a quo voluptates recusandae atque sapiente. At
            sapiente nesciunt quos accusamus veniam iure architecto sit illo iusto, eaque doloremque eos beatae laborum?
            Soluta, mollitia. Quaerat ipsa a atque totam dolor quos minus aliquid recusandae sit debitis perspiciatis
            explicabo perferendis temporibus fugiat odit illum, ducimus repudiandae ad vitae consequatur, officiis est
            dicta? Adipisci.
            Recusandae, laborum magnam praesentium sapiente adipisci odit debitis porro minus, similique architecto
            ducimus commodi quasi molestias excepturi officiis sit! Deleniti nobis quisquam iste tenetur praesentium
            similique accusantium, sit unde sed?
            Voluptatum dolore quisquam iusto nihil, amet at? Rerum explicabo molestiae velit distinctio tempora delectus
            maiores fuga vero asperiores temporibus ab error architecto molestias nam reprehenderit quidem, deserunt
            voluptate consequatur quos?
            Numquam, adipisci excepturi odio accusantium quaerat harum nobis temporibus quis vitae perferendis
            laudantium asperiores, aliquid nihil ab molestiae, magni exercitationem! Placeat mollitia quam, facilis et
            sed obcaecati beatae non temporibus.
            Fuga minima sed tempore exercitationem quaerat vero quia distinctio, culpa ducimus dicta quasi veritatis nam
            hic placeat dolor impedit soluta neque cum aliquam nesciunt. In tempore officia aut ut incidunt?</p>
    <form action="localhost:4000/homepage" method="get" target="_blank">

        <input type="text" name="queryStr" id="qstr">
        <button type="submit">search</button>
    </form>
    <script src="../frontlogic.js"></script>
</body>

</html>