h1,
h2 {
    text-align: center;
    color: rgb(42, 2, 80);
    border-radius: 2em;
    line-height: 3;
}

h1,
h2:hover {
    background-color: rgb(225, 199, 249);
    font-size: 1.6em;
    transition-duration: 500ms;
}

header {
    background-color: rgb(77, 114, 169);
    border-radius: 1em;
}

main {
    border-radius: 1em;
    background-color: rgb(207, 207, 229);
    text-align: center;
    line-height: 3;
    color: rgb(98, 98, 134);
    font-size: 1em;
}

main:hover {
    background-color: rgb(242, 225, 238);
    transition-duration: 500ms;
}

footer {
    background-color: rgb(200, 203, 207);
    border-radius: 1em;
    padding-bottom: 1.5em;
}

footer p {
    color: blue;
    padding: 1em;
}

#sectFooter li a {
    text-decoration-line: none;
    color: gray;
    font-size: 1em;
}

#sectFooter li a:hover {
    text-decoration-line: none;
    background-color: gray;
    color: white;
    font-size: 1.5em;
    transition-duration: 500ms;
}

#sectFooter li a:active {
    text-decoration-line: none;
    background-color: gray;
    color: black;
    transition-duration: 250ms;
    font-size: 1.25em;
}

form {
    font-size: 1em;
    opacity: 0.7;
}

form:hover {
    font-size: 2em;
    opacity: 1;
}

form button {
    color: blue;
    background-color: darkgray;
    border-radius: 1em;
    border-color: blue;
    font-size: 1em;
    transition-duration: 500ms;
    padding: 0.3em;
}

form button:hover {
    color: white;
    background-color: blue;
    font-size: 1.1em;
}

form button:active {
    color: blue;
    background-color: greenyellow;
    transition-duration: 250ms;
    font-size: 1.25em;
}


#n_dt {
    background-color: aliceblue;
    color: darkslateblue;
    padding-left: 1em;
    padding-left: 0.5em;
    border-radius: 1em;
}

#Node_Name {
    color: blueviolet;
    border-radius: 1em;
    padding-left: 1em;
}

#ID {
    border-radius: 1em;
    padding-left: 1em;
}

input[type="date"] {
    border-radius: 3em;
    width: 10em;
    padding: 0.5em 1em .5em;

}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
}